* {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Whyte Book, "system-ui", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica, Helvetica Neue, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, "sans-serif";
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
}

nav div {
  margin-right: auto;
  margin-left: 100px;
}

nav div a {
  text-decoration: none;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0 45px;
}

.video-section {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-section div {
  height: 900px;
  width: 90%;
}

.section-1 {
  display: flex;
  height: 480px;
  justify-content: center;
  align-items: center;
}

.section-1 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 710px;
}
.section-1 strong {
  font-size: 3.3rem;
  color: white;
}

.section-2 {
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
}
.section-2 .section-2-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 45%;
}
.section-2 .section-2-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 45%;
}

.section-2 .section-2-text div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  width: 500px;
}

.section-2 strong {
  font-size: 2.1rem;
  color: white;
}

.link-class {
  margin: 30px 0;
  background-color: white;
  color: black;
  width: 110px;
  padding: 17px;
  border-radius: 30px;
  text-decoration: none;
}

.section-3 {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
}
.section-3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 640px;
}

.section-3 strong {
  font-size: 3.3rem;
  color: white;
}

.section-4 {
  display: flex;
  height: 480px;
  justify-content: space-evenly;
}

.section-4 div {
  height: 450px;
  width: 45%;
}

.section-5 {
  height: 200px;
}

.section-5 div {
  height: 200px;
  width: 40%;
  float: left;
}
.section-5-container1 {
  margin-left: 44px;
}

.section-5-container2 {
  margin-left: 125px;
}
.section-5-text {
  color: white;
  line-height: 25px;
}
.section-5-heading {
  margin-bottom: 20px;
}

.section-6 {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}
.section-6 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 790px;
}

.section-6 strong {
  font-size: 3.3rem;
  color: white;
}

.section-7 {
  height: 210px;
}

.section7-container {
  display: flex;
  flex-direction: column;
  height: 190px;
  width: 15%;
  float: left;
}
.section7-container a {
  text-decoration: none;
  color: white;
  margin-left: 70px;
  margin-bottom: 31px;
}

footer {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 25px;
}
footer div {
  display: flex;
  width: 32%;
}

.footer-btn {
  border-color: white;
  border-radius: 30px;
  color: white;
  margin: 10px;
  padding: 19px;
  cursor: pointer;
}

.footer-item-padding {
  padding: 20px;
}

.image-section {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section div {
  height: 100px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
